[Unit]
Description=Red Sand

[Service]
ExecStart=/bin/node server.js
Restart=always
WorkingDirectory=/var/local/redsand

[Install]
WantedBy=multi-user.target