[Unit]
Description=Red Sand

[Service]
ExecStart=nodemon server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/local/redsand

[Install]
WantedBy=multi-user.target